h1 {
    font-family:  'Century Gothic', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.title {
    color: #05094b;
    margin-top: 40px;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}

.subtitle {
    color: #6a8496;
    margin-top: 40px;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
}

.footer {
    color: #f8fbff;
    margin-top: 60px;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}

.normal {
    color: #000000;
    font-size: 20px;
    font-weight: 80;
    left: 33%;
    position: relative;
    margin-top: 40px;
}

.profileDescription {
    color: #6a8496;
    margin-top: 40px;
    font-size: 25px;
    font-weight: 200;
    text-align: center;
}

.button {
  background-color: #05094b; 
  border: none;
  color: f8fbff;
  padding: 20px 20px;
  text-align: center;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  display: block;
  font-family:  'Century Gothic', sans-serif;
  position: relative;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:not(:last-child) {
  border-bottom: none; 
}

.topButton {
    margin-top: 5.5%;
}

.bottomButton {
    margin-top: 6%;
}

body {
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
